body{
  font-family: 'Permanent Marker', cursive;
  background-color: grey;
  background-image: url(../images/90sbackground.jpg);
  background-repeat: repeat;
}

.game-content {
  height: 405px;
  background-color: aquamarine;
  border-radius: 25px;
  padding: auto;
}

p {
  font-size: 18px;
}

.content {
  background-color: aquamarine;
  padding: 2px;
  margin-top: 40px;
  
}